---
import AboutEditorWorkspace from './AboutEditorWorkspace.svelte';
import type { AboutEditorIslandProps } from './about-editor-island-props';

const props = Astro.props as AboutEditorIslandProps;
---

<div data-admin-content-editor-island data-admin-about-editor-island>
  <AboutEditorWorkspace client:only="svelte" {...props} />
</div>
