---
import BitsEditorWorkspace from './BitsEditorWorkspace.svelte';
import type { BitsEditorIslandProps } from './bits-editor-island-props';

const props = Astro.props as BitsEditorIslandProps;
---

<div data-admin-content-editor-island data-admin-bits-editor-island>
  <BitsEditorWorkspace client:only="svelte" {...props} />
</div>
